Repository jadmalek/spring-petclinic, pull requests merged in 2018-04, with the labels that each got.

#15 Fix for shadow reading/writing by altering database from hsql to mysql
  pom.xml
  src/main/resources/application-mysql.properties
  src/main/resources/application.properties
Labels: consistency-checking, migration

#17 Implementing function to chain hash table, store hash in a csv, update hash on shadowrite, and hash consistency checker
  hash-record/owners.csv
  hash-record/pet-types.csv
  hash-record/pets.csv
  src/main/java/hashGenerator/HashGenerator.java
  src/main/java/org/springframework/samples/petclinic/PetClinicApplication.java
  src/main/java/org/springframework/samples/petclinic/owner/ConsistencyChecker.java
  src/main/java/org/springframework/samples/petclinic/owner/OwnerController.java
  src/main/java/org/springframework/samples/petclinic/owner/OwnerHashUpdater.java
  src/main/java/org/springframework/samples/petclinic/owner/OwnerRepositoryCSV.java
  src/main/java/org/springframework/samples/petclinic/owner/PetController.java
  src/main/java/org/springframework/samples/petclinic/owner/PetHashUpdater.java
  src/main/java/org/springframework/samples/petclinic/owner/PetRepositoryCSV.java
  src/main/java/org/springframework/samples/petclinic/owner/PetType.java
Labels: consistency-checking

#18 Improvements on Milestone 2 Mocking Dependencies
  src/main/java/org/springframework/samples/petclinic/owner/FakeOwnerRepository.java
  src/main/java/org/springframework/samples/petclinic/visit/FakeVisitRepository.java
  src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTests.java
  src/test/java/org/springframework/samples/petclinic/owner/OwnerTest.java
  src/test/java/org/springframework/samples/petclinic/owner/PetTests.java
  src/test/java/org/springframework/samples/petclinic/owner/VisitControllerTests.java
Labels: test

#20 Implemented dynamic datastore switching
  src/main/java/org/springframework/samples/petclinic/owner/OwnerController.java
  src/main/java/org/springframework/samples/petclinic/owner/PetController.java
  src/main/java/org/springframework/samples/petclinic/owner/VisitController.java
  src/main/java/org/springframework/samples/petclinic/vet/VetController.java
  src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTests.java
Labels: consistency-checking
